/*@font-face {
    font-family: Geo;
    src: url('fonts/georgia/georgia.ttf');
}*/





*, *::before, *::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    padding: 31px 0px 21px 0px;
    border-bottom: 1px solid #262728;
    display: flex;
    height: 90px;
    justify-content: space-between;
}

.container {
    height: 90px;
    width: 1600px;
    margin: 0 auto;
}

.container__line {
    padding-left: 204px;
    padding-right: 201px;
    height: 90px;
    width: 1600px;
}

.header {
    width: 1600px;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("images/background.gif");
    height: 944px;
    background-repeat: no-repeat;
}





.logo__img {
    min-height: 30px;
    max-width: 130px;
}

.nav {
    padding-top: 4px;
}

.nav__item {
    font-size: 16px;
    color: white;
    font-weight: 500;
    font-family: "Lato";
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    width: 632px;
}

.nav__item:hover {
    text-decoration: underline;
    text-underline-offset: 38px;
}

.hello-page {
   /* height: 852px;
    width: 1600px;
    margin: 0 auto;*/
}

.hello-page-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 336px;
    /*надо переделать*/
    /*height: 162px;
    width: 444px;*/
}

.hello-page__title {
    text-align: center;
    font-size: 72px;
    color: white;
    font-weight: bold;
    font-family: "Myriad Pro";
}

.hello-page__subtitle {
    padding-top: 3px;
    padding-left: 1px;
    text-align: center;
}

.hello-page__text:first-child {
    padding-bottom: 10px;
}

.hello-page__text {
    color: white;
    font-size: 32px;
    font-family: "Georgia";
    font-style: italic;
}







.member {
    height: 122px;
    width: 1600px;
    display: flex;
}


.logIn-btn {
    /* width: 810px; */
    width: 50.6%;
    height: 120px;
    background-color: #20414a;
    z-index: -1;
    position: relative;
    z-index: 99;
    /* transition: background-color 0.3s; */
}

#btn:hover {
    /* background-color: #10AFF1; */
    filter: invert(20%);
    cursor: pointer;
    /* transition: all; */
}

.Register-btn {
    height: 120px;
    background-color: #2fab6c;
    width: 49.5%;
    /* display: inline-block; */
    /* vertical-align: top; */
    position: relative;
    /* overflow-x: hidden; */
}

.Register-btn:hover {
    /* background-color: #10AFF1; */
    filter: invert(10%);
    cursor: pointer;
    z-index: 99;
}

.Register-btn:before {
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-bottom: 120px solid #2fab6c;
    position: absolute;
    top: 0;
    left: -29px;
    z-index: 99;
}



.Register-btn-title {
    /* width: 790px; */
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    font-size: 22px;
    overflow: hidden;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    top: calc(50% - 14px);
    left: 241px;
    z-index: 999;
    /*надо переделать*/
}

.login-btn-title {
    z-index: 999;
    margin: 0 auto;
    /* width: 810px;  */
    position: absolute;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    top: calc(50% - 14px);
    right: 270px;
    /* right: -470px; */
    overflow: hidden;
    /* right: -470px; надо переделать */
}